@font-face {
  font-family: Lato;
  src: url("assets/fonts/lato/Lato-Regular.ttf") format("ttf");
  font-display: swap;
}
h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.428em;
  line-height: 1.714em;
  color: #FFFFFF;
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: #B5B5B5;
}

body {
  background: url("assets/webp/background.webp") no-repeat center;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 14px;
  min-height: 100vh;
  line-height: 1.5em;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img, input[type=image], video, rembed, iframe, marquee, object, table {
  display: block;
  aspect-ratio: attr(width)/attr(height);
}

.wrapperGrid {
  display: grid;
  grid-template-columns: 261.5px minmax(567px, 1fr) 201px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 2.142em;
  height: 100vh;
  overflow-y: auto;
  padding-top: 2.5em;
  padding-right: 1.785em;
  padding-left: 1.785em;
  background: #25272A;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.navigation::-webkit-scrollbar {
  width: 9px;
}

.navigation::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  border-radius: 100px;
  background-clip: content-box;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.treads {
  display: flex;
  align-items: center;
}
.treads img {
  margin-right: 0.857em;
}

.channels_Info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.857em;
  text-transform: uppercase;
}

.channels_List {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-left: 0;
}
.channels_List a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: #B5B5B5;
  text-decoration: none;
  height: 2.142em;
  border-radius: 5px;
  padding-left: 0.928em;
}
.channels_List a:hover {
  background-color: rgba(181, 181, 181, 0.2);
  color: #FFFFFF;
}

.friends_Info {
  display: flex;
  justify-content: space-between;
  font-size: 0.857em;
  text-transform: uppercase;
}

.friends_List {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.785em;
  padding-top: 1em;
  padding-left: 0;
  padding-bottom: 1.071em;
}

.friend_List_card {
  display: flex;
  align-items: center;
  max-height: 34px;
  max-width: 100%;
}

.friend_List_card_indicate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.online {
  filter: invert(57%) sepia(90%) saturate(1074%) hue-rotate(59deg) brightness(118%) contrast(105%);
}

.offline {
  filter: invert(83%) sepia(0%) saturate(131%) hue-rotate(260deg) brightness(93%) contrast(78%);
}

.friend_List_card_avatar {
  position: relative;
}

.border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
  border: 1px solid #B5B5B5;
  border-radius: 20%;
  opacity: 0.1;
}

.friend_List_card_name {
  margin-left: 0.821em;
}

.main {
  background: #ffffff;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 1.785em;
  padding-right: 1.785em;
}
.main_header input {
  width: 251px;
  height: 33px;
  margin-left: 25px;
  padding-right: 8.5px;
  padding-left: 8.5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: url("assets/svg/search.svg") no-repeat center;
  background-position-x: 94%;
}
.main_header input:focus {
  background: none;
}

.main_header_panel {
  display: flex;
  align-items: center;
}
.main_header_panel p {
  text-align: center;
}

.iconPeople {
  margin-right: 6px;
}

.iconBell {
  margin-left: 25px;
}

.iconMenu {
  margin-left: 25px;
}

.profile {
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.profile_user_information {
  padding-top: 14px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 28px;
}
.profile_user_information p {
  color: #5F6164;
}

.profile_social-icon {
  display: flex;
  justify-content: left;
  align-content: center;
  gap: 6.5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shape {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #E8E8EB;
}
.shape img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile_buttonPanel {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2.5px;
}

button[type=button] {
  width: 133.5px;
  height: 25px;
  font-size: 0.928em;
  color: #FFFFFF;
  text-align: center;
  border: 0;
  border-radius: 4px;
  background-color: #3577EF;
  cursor: pointer;
}

button[type=menu] {
  position: relative;
  width: 25.5px;
  height: 25px;
  border: 0;
  border-radius: 4px;
  background-color: #3577EF;
  cursor: pointer;
}

button[type=menu]::before {
  display: "block";
  width: 12px;
  height: 8px;
  position: absolute;
  top: 34%;
  right: 38.5%;
  content: url("assets/svg/arrowDown.svg");
}

.profile_user_contact {
  padding-top: 14px;
  line-height: 1.3;
}
.profile_user_contact p:nth-child(even) {
  padding-bottom: 11px;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
